figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.ImagenTorneosPro {
    width: 25%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

figcaption {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #555;
}

/* figcaption {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
} */
